<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<title>校正サービスシステム</title>
</head>
<body>
	<div class="container">
	  <header>
	    <nav class="navbar navbar-light bg-light">
	      <a class="navbar-brand" th:href="@{/}">校正サービスシステム</a>
	      <ul class="navbar-nav">
	        <li class="nav-item">[[${asName}]] [<a th:href="@{/login/logout/2}">ログアウト</a>]</li>
	      </ul>
	    </nav>
	  </header>
	  <div class="row">
		    <div class="col-md-8">
		    <form class="form" th:action="@{2(cuId=${orderSheet.cuId})}"  method="post" th:object="${orderSheet}" >
		    	<table class="table table-bordered">
			        <tr>
			          <th>受付番号</th>
			          <td>[[${orderSheet.invoiceId}]]<input type="hidden" th:field="*{invoiceId}"></td>
			        </tr>
			        <tr>
			          <th>依頼元</th>
			          <td>[[${orderSheet.cuCompany}]]<input type="hidden" th:field="*{cuCompany}"></td>
			        </tr>
			        <tr>
			          <th>モデル</th>
			          <td>[[${orderSheet.model}]]<input type="hidden" th:field="*{model}"></td>
			        </tr>
			        <tr>
			          <th>製造番号</th>
			          <td>[[${orderSheet.serial}]]<input type="hidden" th:field="*{serial}"></td>
			        </tr>
			        <tr>
			          <th>依頼内容</th>
			          <td>[[${orderSheet.demand}]]<input type="hidden" th:field="*{demand}"></td>
			        </tr>
			       </table>
					<p>
						<button type="button" onclick="history.back()" class="btn btn-warning">戻る</button>
						<input class="btn btn-danger" type="submit" value="受付票を発行する">
					</p>
				</form>
			</div><!-- /.col- -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</body>
</html>